<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <br>
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <% f.label :email %><br />
          <%= f.email_field :email, :size => 80,autofocus: true, autocomplete: "email", class:"form-label" , placeholder:"Email" %>
        </div>

        <div class="field">
          <% f.label :password %>
    
          <%= f.password_field :password,:size => 80, autocomplete: "new-password", class:"form-label", placeholder:"Password (6 characters minimum)" %>
        </div>

        <div class="field">
          <% f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation,:size => 80 ,autocomplete: "new-password", placeholder:"Password confirmation"   %>
        </div>
        <br>

        <div class="actions">
          <%= f.submit "Sign up" , class:"btn btn-primary" %>
        </div>
        
      <% end %>

      <br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>