<div class="container">

  <div class="row"> 
    <div>
    <form action="/movies" method="get">
      <input id="title" name="title" type="text" />
      <input type="submit" class="btn-btn-primary" value="Search by Title">
    </form>

    </div>


    <form action="/movies" method="get">
            <div>
              <label for="genre"></label>
              <select id="genre" name="genre" >
                <option value="">Select Category:</option>
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Mystery">Mystery</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Adventure">Adventure</option>
                <option value="Fantasy">Fantasy</option>
              </select>
            </div>
    <input type="submit" class="btn-btn-primary" value="Search">
    </form>


    <% @movies.each do |display|  %>
      <div class="col-xs-12" id="movie-card">
        <%= image_tag display.poster.gsub(/\[/, "").gsub(/\]/, "").gsub(/\"/, "") , class: 'movie-poster' %>
        <div class="overlay overlay--blur">
          <h3><%= display.title %></h3>
          <h5> <%= display.year %></h5>
          <h6> <%= display.genre %></h6>
          <div>
            <h5><%= display.plot %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

