<h1><%= @movie.title %></h1>
<h5> <%= @movie.year %></h5>
<h6> <%= @movie.genre %></h6>
<h6><%= @movie.plot %></h6>



<% if current_user.favorite_movies.exists?(movie_id: @movie.id) %>
  <%= link_to "unfavorite", favorite_movie_path(@movie, type: "unfavorite"), method: :put %>
<% else %>
  <%= link_to "favorite", favorite_movie_path(@movie, type: "favorite"), method: :put %>
<% end %>

