<h1><%= @movie.title %></h1>
<h5> <%= @movie.year %></h5>
<h6> <%= @movie.genre %></h6>
<h6><%= @movie.plot %></h6>




  <%= link_to "favorite", favorites_path(movie: @movie, type: "favorite"), method: :post %>
  <%= link_to "unfavorite", favorites_path(movie: @movie, type: "unfavorite"), method: :post %>