<div class="container">

<div class="profile-information">

  <div>
    <h1>Hello <%= current_user.username %></h1>
  </div>
  <div>
    <h3> <%= image_tag 'popcorn.png', class: 'avatar'%></h3>
  </div>

</div>
   <% @movies.each do |display|  %>
  <div class="movies">
  <div class="poster ">
    <%= image_tag 'Sexybeast.png', class: 'movie-poster' %>
    <div class="overlay overlay--blur">
          <h3> <%= display.title %> </h3>  
          <h5> ⭐️ &nbsp <%= display.rating %></h5>
        <div>
            <%= display.description %>
        </div>
      
    </div>
  </div>
      <% end %>
</div>

</div>